@inherits LayoutComponentBase

<div class="page">
    <div class="top-row">
        <div class="navbar">
            <button class="navbar-toggler" @onclick="OnToggleMenuClicked">
                <span class="oi oi-menu"></span>
            </button>
            <a href="">
                <image class="navbar-brand" src="/images/fhnw_logo.svg" height="32" width="140"></image>
            </a>
        </div>

        @if (_currentUser != null)
        {
            <div class="top-row px-4">
                <spam>  Hi, @_userName</spam>
                <a @onclick="LogoutClicked" target="_blank" class="ml-md-auto">Logout</a>
            </div>
        }

        <div class="language-container">
            <!-- TODO ersetzen durch Flaggen-->
            <select class="btn btn-secondary dropdown-toggle" @onchange="OnSelect">
                @foreach (var language in languages)
                {
                    <option value=@language>@language</option>
                }
            </select>
        </div>
    </div>
    <div class="main-container">
        <div class="@SidebarClass">
            <NavMenu IsNavMenuCollapsed=@IsNavMenuCollapsed />
        </div>
        <div class="main">
            <div class="px-4">
                @Body
            </div>
        </div>
    </div>
</div>

@code {
    private string SidebarClass => IsNavMenuCollapsed ? "sidebar-menu-collapsed" : "sidebar sidebar-menu";
    private bool IsNavMenuCollapsed { get; set; } = false;
    List<string> languages = new List<string>() { "Deutsch", "Englisch" };

    private void ToggleMenu(bool value)
    {
        IsNavMenuCollapsed = value;
    }

    void OnSelect(ChangeEventArgs e)
    {
        Console.WriteLine("Selected language: " + e?.Value?.ToString());
    }


    private void OnToggleMenuClicked()
    {
        IsNavMenuCollapsed = !IsNavMenuCollapsed;
    }

}