@inherits LayoutComponentBase
@using WhistleblowerSystem.Client.Services;

<div class="page">
    <div class="top-row">
        <div class="navbar">
            <button class="navbar-toggler" @onclick="OnToggleMenuClicked">
                <span class="oi oi-menu"></span>
            </button>
            <a href="">
                <image class="navbar-brand" src="/images/integrityAtInside_logo.svg" height="60" width="77.60"></image>
            </a>
        </div>

        @if (_currentUser != null)
        {
            <div class="hello-container">
                <spam>  @L["mainlayout_hello"]@_userName</spam>
            </div>
        }

        <div class="language-container">
            <MudItem xs="120" sm="60" md="40">
                <MudSelect @bind-Value="CurrentLanguage" SelectedValuesChanged="OnLanguageChanged" T="WhistleblowerSystem.Shared.Enums.Language" Variant="Variant.Outlined" OffsetY="true">
                    <MudSelectItem Value=@WhistleblowerSystem.Shared.Enums.Language.English>
                        <img src=@GetLanguageIconUrl(WhistleblowerSystem.Shared.Enums.Language.English) height="14" class="mr-1" /> English
                    </MudSelectItem>
                    <MudSelectItem Value=@WhistleblowerSystem.Shared.Enums.Language.German>
                        <img src=@GetLanguageIconUrl(WhistleblowerSystem.Shared.Enums.Language.German) height="14" class="mr-1" /> Deutsch
                    </MudSelectItem>
                </MudSelect>
            </MudItem>
        </div>
    </div>
    <div class="main-container">
        <div class="@SidebarClass">
            <NavMenu IsNavMenuCollapsed=@IsNavMenuCollapsed />
        </div>
        <div class="main">
            <div class="px-4">
                @Body
            </div>
        </div>
    </div>
</div>

@code {
    private string SidebarClass => IsNavMenuCollapsed ? "sidebar-menu-collapsed" : "sidebar sidebar-menu";
    private bool IsNavMenuCollapsed { get; set; } = false;
    public string country = "";

    private void ToggleMenu(bool value)
    {
        IsNavMenuCollapsed = value;
    }


    private void OnToggleMenuClicked()
    {
        IsNavMenuCollapsed = !IsNavMenuCollapsed;
    }

}