@inherits LayoutComponentBase
@using WhistleblowerSystem.Client.Services;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">

        @if (_currentUser != null)
        {
            <div class="top-row px-4">
                <spam>  Hi, @_userName</spam>
                <a @onclick="LogoutClicked" target="_blank" class="ml-md-auto">Logout</a>
            </div>
        }
        <div class="top-row px-4">
            <select class="form-control" value="@((int)LanguageService.Language)" @onchange="OnLanguageChanged" style="width:150px">
                @foreach ((int, string) language in languages)
                {
                    <option value=@language.Item1>@language.Item2</option>
                }
            </select>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

