.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.main {
    flex: 2;
    height: 90vh;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 10vh);
    overflow: auto;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
    color: #000000;
}


.navbar-brand {
    max-width: 100%;
    height: auto;
}

.sidebar-menu {
    background-color: #FDE70E;
}

.sidebar-menu-collapsed {
    display: none;
}

.top-row {
    justify-content: space-between;
    min-height: 10vh;
    display: flex;
    background-color: rgba(237,237,237,0.5);
    padding-left: 5px;
    padding-right: 15px;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .top-row .language-container {
        align-self: center;
    }

@media (max-width: 640.98px) {
    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }

    .main-container {
        flex-direction: column
    }

    .main > div {
        padding-left: 5vh !important;
        padding-right: 5vh !important;
    }
}

@media (min-width: 641px) {
    .sidebar {
        width: 250px;
        height: calc(100vh - 10vh);
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div {
        padding-left: 15vh !important;
        padding-right: 15vh !important;
    }
}
