@page "/"

<h1>Integrity@Inside</h1>
<h2>Wir bieten Ihnen die Möglichkeit, auf dieser Webseite Hinweise auf Missstände zu geben - auch anonym</h2>
<p>
    Auf unserem Whistleblowing-Meldesystem können Sie Informationen über
    vermutetes Fehlverhalten melden,um dieses frühzeitig aufzudecken und
    abzustellen. Alle Informationen und Untersuchungen werden vertraulich behandelt.
    <br />
</p>
<p>
    Die webbasierte Meldewebseite, die auf der hochsicheren Integrity@Inside
    basiert, gewährleistet die Anonymität und den geschützten Umgang mit den erhaltenen Daten.
    <br />
</p>
<p>
    Die Abgabe von Meldungen kann entweder völlig anonym oder unter Angabe
    des Namens erfolgen. Bitte lesen Sie in den FAQs und in der Anleitung nach,
    wie Sie Ihre Privatsphäre und Anonymität sicherstellen können. Zudem finden
    Sie auch Informationen, wie eine Meldung korrekt zu erfassen ist.
    <br />
</p>
<p>
    Bei Fragen dürfen Sie sich jederzeit bei uns melden.
</p>
<p>
    <b>Kontakt:</b> <br />
    Integrity@inside.ch
</p>
