ul li {
    margin: 10px;
    list-style-type: disc;
    padding: 5px;
}

ol li {
    margin: 10px;
    padding: 5px;
}

.screenshot {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

@media (max-width: 1500px) {
    .screenshot {
        width: 80%;
    }
}