@page "/viewreports"

    <div class="login-content-container">
        <div class="content">
            <h1 class="page-title">@L["viewreports_title"]</h1>
            <h3>@L["viewreports_text"]</h3>
            <div class="login-inputs-container">
                <div class="form-group control">
                    <MudTextField @bind-Value="_whistleblower.FormId" Label=@L["viewreports_id"] Variant="Variant.Outlined"></MudTextField>
                </div>
                <div class="form-group control">
                    <MudTextField @bind-Value="_whistleblower.Password" Label=@L["viewreports_password"] Variant="Variant.Outlined"></MudTextField>
                </div>
            </div>
            @if (_message != null)
            {
                <div style="color:red;">
                    @_message
                </div>
            }
        </div>
            <div class="footer">
                <MudButton OnClick="async () => await OnLogin()" Color="Color.Dark" Variant="Variant.Filled">@L["viewreports_continue"]</MudButton>
            </div>
    </div>
